<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos</title>
</head>
<body>
    <div class="fileiras">
        <% for(let contador=0; contador < fileiras.length; contador++) {%>
            <h2><%= fileiras[contador].titulo %></h2>
            <% for(let i=0; i < fileiraProdutos.length; i++) { %>
                <% if(fileiraProdutos[i].fileira === fileiras[contador].titulo) { %>
                    <h3><%= fileiraProdutos[i].nome %></h3>
                    <p>R$<%= fileiraProdutos[i].preco %></p>
                <% } %>
            <% } %>
        <% } %>
    </div>
</body>
</html>