<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar nomes</title>
    <link rel="stylesheet" href="search.css">
</head>
<body>
    <h1>Adicionar nomes</h1>
    <form id="formAdicionarNome" method="post">
        <input type="text" name="name" id="inputAdicionarNome" placeholder="Seu nome...">
        <button class="blue">Enviar</button>
    </form>
    <button id="verNomesLink" class="blue"><a href="http://localhost:3000/nomes">Ver nomes</a></button>
</body>
</html>