<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos</title>
    <link rel="stylesheet" href="home/home.css">
    <link rel="shortcut icon" href="favicon-r.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e0a5611951.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <form method="post" class="busca">
            <input type="text" name="procurarProduto" placeholder="Nome do produto" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>
    <% if(produtosEncontrados.length !== 0) { %>
        <div class="produto--flex search">
            <% for(let i=0; i < produtosEncontrados.length; i++) { %>
                <div class="container--produto">
                    <img class="imgProduto" src="<%= produtosEncontrados[i].img %>" alt="Imagem do produto" />
                    <h3><%= produtosEncontrados[i].nome %></h3>
                    <p>R$<%= produtosEncontrados[i].preco %></p>
                </div>
            <% } %>
        </div>
    <% }else{ %>
        <div class="zeroProdutosEncontrados search">Nenhum produto encontrado.</div>
    <% } %>
</body>
</html>