<head>
<link rel="stylesheet" href="search.css">
</head>
<body>
    <h1>Pesquisar nome</h1>
    <form id="pesquisarInput" method="post">
        <input type="text" name="search" id="searchInput" placeholder="Nome...">
        <button id="btnPesquisar" class="blue">Pesquisar</button>
    </form>
    <button class="blue" id="btnAdicionarNomes"><a href="http://localhost:3000">Adicionar nomes</a></button>
    <div id="divNames">
        <% for(let i=0; i < namesInDB.length; i++) {%>
            <div class="nameContainer" style="display: flex">
                <form id="formInfo" action="/nomes/delete" method="post">
                    <%= namesInDB[i].name %>
                    <input type="hidden" name="id" value="<%= namesInDB[i]._id %>">
                    <button class="blue x">X</button>
                    <div class="blue editarBtn">Editar</div>
                </form>
                <form class="formPut" action="/nomes/put" method="post">
                    <input type="hidden" name="namePut" value="<%= namesInDB[i]._id %>">
                    <input type="text" name="namePutEdited" placeholder="Nome editado">
                    <button class="red">Enviar</button>
                    <div class="red fecharPut x">X</div>
                </form>
            </div>
        <% } %>
    </div>
    <% if(searchsFind !== '') {%>
        <hr>
        <h2>Resultado da sua pesquisa</h2>
        <%= searchsFind %>
    <% } %>
</body>
<script src="search.js"></script>